@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    font-family: 'Ubuntu';
}

body {
    background: url("/images/bg.jpg");
    background-size: cover;
    color: black;
    padding: 0px;
    height: 100vh;
    margin: auto;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#submit {
    font-weight: bold;
    display: block;
    margin: auto;
    width: 350px;
    background-color: rgb(56, 56, 56);
    color: white;
    border-color: white;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    font-size: large;
}

#submit:hover {
    background-color: black;
    border-color: rgb(205, 255, 253);
    color: rgb(205, 252, 253);
}

#genderdiv {
    clear: both;
}

.container {
    margin: auto;
    width: 310px;
    overflow: auto;
}

input {
    margin : 6px;
}

.typeinp {
    margin: 5px auto;
    background-color: rgb(230, 230, 230);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    height: 30px;
    width: 22.5em;
    clear: both;
    outline: none;
}

.mainContainer {
    margin: 240px auto;
    width: 25rem;
    height: 27.2rem;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    box-shadow: -15px 15px 12px rgb(0 0 0 / 25%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login{
    color: rgb(175, 0, 0);
    display: block;
    font-size: 18px;
    text-align: center;
    font-style: italic;
    cursor: pointer;
}

#error-div{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#error{
    margin:auto;
    color: red;
    text-align: center;
    font-weight: bold;
}

.dis{
    display:none;
}