@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url("/fonts/Ubuntu-Regular.ttf") format('ttf');
}
*{
    font-family: Ubuntu;
}

body{
    height:100vh;
    background: url("/images/bg.jpg");
    background-size: cover;
    margin:0px;
}

.container{
    display: flex;
    height: 15rem;
    width: 35rem;
    background-color: rgb(227, 254, 255,0.5);
    backdrop-filter: blur(2px);
    box-shadow: -15px 15px 12px rgba(0,0,0,0.25);
    border-radius: 20px;
    z-index: 1;
    margin: 22rem auto;
    flex-direction: column;
    justify-content: center;
}

.text-inp{
    background-color: rgb(230,230,230);
    height: 35px;
    color: black;
    margin: 3px auto;
    width: 80%;
}

.round-border{
    border-radius: 10px;
}

.submit{
    width: 80%;
    margin: 3px auto;
    height: 35px;
    color: wheat;
    font-weight: bold;
    font-size: large;
    background-color: rgb(62, 57, 65);
}

.submit:hover {
    background-color: rgb(56, 28, 61);
    cursor: pointer; 
}

#loginform{
    display: flex;
    flex-direction: column;
}

#frgtps{
    color: rgb(175, 0, 0);
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-style: italic;
}

.container h1{
    text-align: center;
}

#error-div{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#error{
    margin:auto;
    color: red;
    text-align: center;
    font-weight: bold;
}