@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url("/fonts/Ubuntu-Regular.ttf") format('ttf');
}
* {
    font-family: Ubuntu;
}

body {
    background: url("/images/bg.jpg");
    background-size: cover;
    color: black;
    padding: 0px;
    height: 1700px;
    margin: auto;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.mainContainer {
    margin: 240px auto;
    width: 25rem;
    height: 28.3rem;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    box-shadow: -15px 15px 12px rgb(0 0 0 / 25%);
    border-radius: 20px;
}

.navBar {
    position: sticky;
    top: -10px;
    margin: auto;
    display: flex;
    width: 90vw;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px); /* This blur should be bit more than .mainContainer's blur */
    box-shadow: -15px 15px 12px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    top: 10px;
    z-index: 2;
    margin: auto;
    flex-direction: row;
}

.transparent-bg {
    background-color: rgba(0, 0, 0, 0);
}

.navBar ul {
    list-style: none;
    overflow: auto;
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navBar ul li {
    float: left;
    padding: 2px;
}

.navBar li a {
    font-size: 1.2em;
    font-weight: bold;
    margin: 2px 0px 0px 0px;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.navBar li:last-child {
    position: absolute;
    top:0;
    right: 0;
}

.navBar li span:hover {
    cursor: default;
}

.navContainer {
    background-color: rgba(0, 0, 0, 0);
    position: sticky;
    top: -10px;
    width: 99%;
    z-index: 1;
    margin: auto;
}

.searchbar {
    float: right;
    width: 15em;
    margin: 8px;
}

.navBar li a:hover,
.navBar .active {
    background-color: rgba(87, 87, 87, 0.17);
    border-radius: 15px;
}

.navBar .active {
    border-top: 3px solid rgb(60, 60, 60);
    border-bottom: 3px solid rgb(60, 60, 60);
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0);
}

.login{
    text-align: center;
    font-style: italic;
}

.dis{
    display:none;
}