@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url("/fonts/Ubuntu-Regular.ttf") format('ttf');
}
*{
    font-family: Ubuntu;
}
body {
    font-family: Ubuntu;
    background: url("/images/bg.jpg");
    background-size:cover;
    margin: auto;
    padding : 10px;
}
.container{
    background-color: rgb(81, 18, 104);
    color: white;
    width : 80vw;
    height : 50px;
    margin: 5px auto;
    border-radius: 10px;
    overflow: auto;
    overflow-wrap: break-word;
    text-align: center;
}

.container:hover{
    background-color: rgb(199, 164, 255);
    color: black;
    cursor:pointer;
}