doctype html 
html 
    head
        link(rel="icon" type="image/x-icon" href="/images/favicon.ico")
        link(rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico")
        block title 
            title Home
        block styles
        block scripts

    body 
        nav.navbar
            ul.navlist
                li 
                    a(href="/dashboard" id="home") Home
                li 
                    a(href="/projects" id="projects") My Projects
                li 
                    a(href="/contact" id="contact") Contact

        block content
